.intrinsic-box a-scene {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
  }
.boton{
    position: fixed;
    z-index: 99999;
    top: 23%;
    left: 5.8%;
    width:88%;
    height:50%;
}
